@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    text-align: center;
    margin: auto;
    display: block;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: orange;
}

#titulo{
    margin-top: 12px;
    color: aliceblue;
}

img{
    border-radius: 50%;
    width: 310px;
    height: 310px;
}